h1 {
    color: blue;
    font-size: 32px;
    text-align: center;
    font-family: initial;
    border: inherit
}

.anotation {
    font-size: 20px;
    color: rgb(214,18,100);
  }
  #subscrationBtn {
    background-color: green;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
     
  }
  body {
    font-family: cursive;
    text-align: center;
    border: 5px solid black;
   
  }